* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
    background-color: #f3f4f6;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
    text-align: center;
  }
  
  form {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  section  {
    background: #f4f4f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
    
  
  
  section h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid #4a90e2;
    padding-bottom: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    color: #333;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="file"]:focus,
  textarea:focus {
    border-color: #4a90e2;
    outline: none;
  }
  
  textarea {
    resize: vertical;
  }
  
  fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  legend {
    font-weight: bold;
    color: #333;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 1em;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #357ABD;
  }
  